@import '../../assets/colors.scss';

ul.ant-pagination {
  padding-top: 20px;
}

.ant-pagination-item.ant-pagination-item-active {
  background-color: $accentColor;
}
.ant-pagination-item.ant-pagination-item-active > a {
  color: white;
}
li.ant-pagination-item,
li.ant-pagination-prev,
li.ant-pagination-next {
  border-radius: 4px;
}
