@import '../../assets/colors.scss';

.editArticle {
  background-color: $secondaryBgColor;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  padding: 48px 32px;
  position: absolute;
  top: 139px;
}
.editArticle__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.editArticle__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #262626;
}
.editArticle__label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 21px;
}
.editArticle__label:last-of-type {
  margin-bottom: 18px;
}
.editArticle__input {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 874px;
}
textarea.editArticle__input {
  height: 168px;
}

.editArticle__tags .editArticle__input {
  width: 300px;
  margin-top: 7px;
}
::placeholder {
  color: #bfbfbf;
}
.editArticle__tags {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.editArticle__btn {
  width: 319px;
  height: 40px;
  background: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 4px;
  outline: none;
  color: #ffffff;
  align-self: flex-start;
}
.editArticle__btn:focus {
  border-color: $mainTextColor;
}
.editArticle__btn_add {
  outline: none;
  background: transparent;
  border: 1px solid #1890ff;
  border-radius: 4px;
  padding: 8px 40px;
  margin-top: 7px;
  color: #1890ff;
  margin-left: 18px;
}
.editArticle__btn_delete {
  outline: none;
  background: transparent;
  border: 1px solid $warningColor;
  border-radius: 4px;
  padding: 8px 32px;
  color: $warningColor;
  margin-left: 18px;
}
.editArticle__tagInput {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.editArticle__warning {
  color: $warningColor;
  margin-block-end: 0;
  font-size: 12px;
}
