@import '../../assets/colors.scss';

.wrapper {
  margin: 0;
  padding: 0;
  background-color: $mainBgColor;
  font-style: normal;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: $mainTextColor;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}
.not__found {
  font-size: 26px;
  margin-top: 26px;
  font-weight: 600;
  color: $warningColor;
}
