@import '../../assets/colors.scss';

.header {
  height: 80px;
  width: 100%;
  background-color: $secondaryBgColor;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__block {
  list-style: none;
  margin-bottom: 0;
}
.header__block:first-of-type {
  padding-left: 22px;
}
.header__block:last-of-type {
  padding-right: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.header__block:last-of-type > .header__item:first-child {
  margin-right: 38px;
}

.header__block:last-of-type > .header__item:last-child {
  padding: 10px 18px;
  border: 1px solid $successColor;
  border-radius: 5px;
}

.header__block:last-of-type > .header__item:last-child > a {
  color: $successColor;
}
.header__link {
  text-decoration: none;
  color: $mainTextColor;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
